<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Title</title>
</head>
<body>
<div class="container">
<form class="form-horizontal" action="#" th:action="@{/actor/save}" th:object="${actor}" method="post">
    <div class="form-group">
    <input  class="form-control"  type="hidden" th:field="*{actor_id}"/>
    <input  class="form-control"  type="text" th:field="*{first_name}" placeholder="First Name"/>
    <input  class="form-control"  type="text" th:field="*{last_name}" placeholder="Last name"/>
    <input class="btn btn-default" type="submit" value="Update"/>
    </div>
</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>